*{
	margin: 0;
	padding: 0;
}






body {
 
    height: 100vh;
    background-image: url(../bgimage.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.div1{
   
    background-color: rgb(231, 229, 235);
    width: 1000px;
    height: 400px;
    border-style: round;
    border-radius: 15px;
    position: relative;
    
    
    
}

.maindiv{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.progresline{
    position: absolute;
    top: 0px;
    height: 5px;
    width: 0%;
    background-color: blue;
}

.navbar{
    position: fixed;
    top: 5px;
    width: 100%;
    height: 60px;
    display: none;
}

.btn{
    padding: 20px;
    width: 150px;
}
.next{
    padding: 15px;
    width: 150px;
    position: absolute;
    right: 50px;
    top: 60px;
    border-radius: 20px;
    color: aliceblue;
    display: none;
    margin-top: 5px;
    
}

.backbutton{
    width: 50px;
    border: none;
}

.counter{
    padding: 5px 15px 5px 15px;
    
    
}
.navend{
    position: absolute;
    right: 10px;
    top: 20px;
}

.extrainfobuttons{

    width: 800px;
    height: 100px;
  
   position:absolute;
   left: 50px;
   top: 322px;
   display: none;
}
.extrainfobtn{
    padding: 12px;
    font-size: 30px;
    border: 2px solid lightgray;
    border-radius: 20px;
}

.svg {
    height: 48px;
    margin: 0 5px;
    fill: black;
  }

  .svganswers{
      height: 30px;
      margin: 0 10px;
    

  }

.extrainfotext{
    position: absolute;
    top: 400px;
    width: 100%;
    background-color: antiquewhite;
    display: none;
  }

  .answers{
      visibility: hidden;
      width: 1000px;
      height: 100px;
      position: fixed;
      bottom: 0px;
      background-color:white;
      
  }

  .answersbutton{
      padding: 12px;
      font-size: 30px;
      width: 200px;
      border-radius: 15px;
  }
  .answersbutton2{
    padding: 12px;
    font-size: 26px;
    width: 275px;
    border-radius: 15px;
}

.answersbutton3{
    padding: 10px;
    font-size: 15px;
    width: 150px;
    border-radius: 15px;
}

label {
   margin-left: 5px;

  }
  input {
    margin-left: 5px;
    
  }

  .div5{
      display: inline-block;
      border: 2px black solid;
      border-radius: 10px;
      margin-top: 5px;
      margin-left: 60px;
      width: 250px;
      height: 30px;
      font-size: 15px;
     
      
  }

  .cont{
      width: 1000px;
      height: 600px;
      background-color: aqua;
  }

  .checkboxdiv{
      
    width: 1000px;
    
    background-color: aqua;
    position: absolute;
    top: 150px;
  }